#logon {
  max-width: 650px;
  max-height: 650px;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 0.3em;
  box-shadow: .05em .05em 0.3em var(--color-text-title);
  display: grid;
  grid-template-areas: 
  'esquerda direita'
  'footer footer'
}

#logon-esquerda {
  grid-area: esquerda;
  background: var(--color-primary) url("../../../assets/images/logo_bg.jpg") no-repeat top;
  background-size: cover;
  width: 100%;
  height: auto;
  z-index: -1;
}

#logo-img {
  margin-top: 50px;
  margin-left: 50px;
  max-width: 120px;
  height: auto;
}

#logo-img img {
  width: 250px;
}

#logon-direita {
  grid-area: direita;
  background: var(--color-primary);
}

#form-login {
  display: block;
  padding: 10px;
  margin-top: 10px;
}

.input-block-logon label {
  font-size: 1.3em;
  color: var(--color-text-base);
  margin-left: 0.5em;
}

.input-block-logon input {
  border-radius: 0.3em;
  width: 85%;
  height: 1.8em;
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  color: var(--color-text-base);
  margin-top: 1em;
  margin-left: 20px;
  margin-bottom: 30px;
}

#form-login-footer {
  text-align: center;
  height: 3em;
  align-items: center;
}

.btn {
  font-size: 1em;
  width: 4.5em;
  height: 1.8em;
  display: inline-block;
  background: var(--color-primary-darker);
  border-radius: 0.5rem;
  color: var(--color-text-base);
  margin-bottom: 80px;
}

#logon-footer {
  grid-area: footer;
  background: var(--color-box-base);
  color: var(--color-text-base);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#logon-footer div:first-child {
  justify-self: left;
  margin-left: 0.5em;
}

#logon-footer div:last-child {
  justify-self: right;
  margin-right: 0.5em;
}

@media(min-width: 700px) {
  
}